# Arquivo de senhas e configurações
.env

# Ambiente virtual do Python
.venv/

# Arquivos de cache do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de log
*.log

# Diretórios do IDE
.vscode/
.idea/
